@import "../shared/variables";
@import "../shared/mixins/button";

.addition {
  max-width: 1440px;
  margin: 0 auto;

  &__wrapper {
    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 86px;
    }
  }

  &__inside {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    width: 100%;

    @media (min-width: $tablet-width) {
      margin-bottom: 80px;
    }
  }

  &__line-wide {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      width: calc(50% - 356px);
      height: 2px;
      margin-top: 7px;
      justify-self: flex-start;
      background-color: #68b738;
    }

    @media (min-width: $desktop-width) {
      width: calc(50% - 570px);
    }
  }

  &__title {
    margin: 0 22px;
    padding: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000;

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__line {
    flex: 1;
    height: 2px;
    margin-top: 7px;
    justify-self: flex-end;
    background-color: #68b738;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 18px;

    @media (min-width: $tablet-width) {
      padding: 0 38px;
      margin: 0 30px;
      width: calc(100% - 60px);
      border: 1px solid #cdcdcd;
    }

    @media (min-width: $desktop-width) {
      border: none;
      margin: 0;
      padding: 0;
      padding-left: 30px;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      padding-top: 26px;
      border-top: none;
      border-bottom: 1px solid #cdcdcd;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 0;
      width: 100%;
      border-top: 1px solid #cdcdcd;
      border-bottom: none;
    }

    &--bottom {
      border-bottom: 1px solid #cdcdcd;

      @media (min-width: $tablet-width) {
        border-bottom: none;
      }

      @media (min-width: $desktop-width) {
        border-bottom: 1px solid #cdcdcd;
      }
    }
  }

  &__products-tablet {
    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 28px;
      width: 100%;
    }
    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  &__name {
    margin: 13px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #222;

    @media (min-width: $tablet-width) {
      margin: 0;
      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 25%;
    }
  }

  &__values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #444;

    @media (min-width: $tablet-width) {
      margin: 0;
      width: 50%;
      font-size: 16px;
      line-height: 20px;
    }
    @media (min-width: $desktop-width) {
      width: 50%;
    }
  }

  &__text {
    font-family: inherit;
  }

  &__button {
    @include button;

    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      margin-bottom: 28px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      margin-left: 40px;
      width: 244px;
    }
  }

  &__gift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 35px;
    width: calc(100% - 40px);
    background-image: url("../img/gift-photo-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #68b738;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 69px 30px 76px;
      width: calc(100% - 60px);
      background-image: url("../img/gift-photo-tablet.png");
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      margin-left: 80px;
      margin-right: 30px;
      width: 245px;
      background-image: url("../img/gift-photo-desktop.png");
    }
  }

  &__gift-img {
    margin-top: 58px;
    margin-bottom: 48px;
    width: 78px;

    @media (min-width: $tablet-width) {
      margin: 57px 0 61px 78px;
      width: 80px;
    }

    @media (min-width: $desktop-width) {
      margin: 56px 81px 47px 84px;
    }
  }

  &__gift-text {
    margin-bottom: 43px;
    width: 161px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;

    @media (min-width: $tablet-width) {
      margin: 0;
      margin-right: 124px;
      text-align: start;
    }

    @media (min-width: $desktop-width) {
      margin: 42px;
      margin-top: 0;
      text-align: center;
    }
  }
}
