@import "../shared/variables";
@import "../shared/mixins/button";

.catalog {
  max-width: 1440px;
  margin: 0 auto;

  &__title {
    margin: 0;
    padding: 27px 0 41px 20px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #000;
    border-top: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      padding: 64px 0 83px 30px;
      border: none;
    }

    @media (min-width: $desktop-width) {
      padding: 20px 0 84px 30px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 11px;

    @media (min-width: $tablet-width) {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
      margin: 0 30px;
      margin-bottom: 68px;
    }

    @media (min-width: $desktop-width) {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 1fr);
      gap: 63px 50px;
    }
  }

  &__product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #ebebeb;

    @media (min-width: $tablet-width) {
      position: relative;
      margin-top: 65px;
      padding: 0;
      padding-top: 161px;
      border: none;
      background-color: #f2f2f2;
    }

    @media (min-width: $desktop-width) {
      margin-top: 60px;
      padding-top: 132px;
    }
  }

  &__inside {
    display: flex;
    width: 100%;

    @media (min-width: $tablet-width) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img-mobile {
    width: 140px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__img-tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      position: absolute;
      bottom: 343px;
      left: calc(50% - 126px);
      width: 252px;
    }

    @media (min-width: $desktop-width) {
      width: 256px;
      bottom: 338px;
      left: calc(50% - 128px);
    }

    &--big {
      bottom: 333px;

      @media (min-width: $desktop-width) {
        bottom: 328px;
      }
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @media (min-width: $tablet-width) {
      align-items: center;
    }
  }

  &__name {
    margin: 0;
    padding-bottom: 18px;
    width: 76px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #222;

    @media (min-width: $tablet-width) {
      width: 132px;
      text-align: center;
      padding-bottom: 12px;
      font-size: 20px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      width: 145px;
      padding-bottom: 22px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: $tablet-width) {
      padding: 0 36px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 30px;
    }
  }

  &__values {
    display: flex;
    justify-content: space-between;
    width: 142px;

    @media (min-width: $tablet-width) {
      padding: 9px 0;
      width: 100%;
      border-bottom: 1px solid #cdcdcd;
    }

    @media (min-width: $desktop-width) {
      padding: 11px 0;
    }
  }

  &__text {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #444;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__button {
    @include button;

    margin-bottom: 14px;
    width: calc(100% - 40px);

    @media (min-width: $tablet-width) {
      margin: 33px 0 40px;
      width: calc(100% - 78px);
    }
  }

  &__product-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 0 25px;
    margin-bottom: 25px;
    width: 100%;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;

    @media (min-width: $tablet-width) {
      justify-content: flex-start;
      margin-top: 65px;
      margin-bottom: 0;
      padding: 0;
      border: 1px solid #ebebeb;
    }

    @media (min-width: $desktop-width) {
      justify-content: center;
      margin-top: 60px;
    }
  }

  &__plus {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-top: 52px;
      margin-bottom: 49px;
      width: 60px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  &__show {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111;

    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
      width: 134px;
      text-align: center;
      font-size: 20px;
      line-height: 22px;
    }
  }

  &__taste {
    margin-bottom: 21px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #444;

    @media (min-width: $tablet-width) {
      margin-bottom: 96px;
      width: 167px;
      text-align: center;
      font-size: 16px;
      line-height: 18px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 100px;
    }
  }

  &__button-all {
    @include button(#f2f2f2, #ebebeb, #444, rgba(68 68 68 / 30%));

    width: calc(100% - 40px);

    @media (min-width: $tablet-width) {
      width: calc(100% - 78px);
    }
  }
}
