@import "../variables";
@import "../mixins/logoOpacity";
@import "../mixins/logoFooter";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 51px 30px 60px;

    @media (min-width: $desktop-width) {
      padding: 58px 110px;
    }
  }

  &__logo {
    @include logo-opacity;

    margin-top: 39px;
    margin-bottom: 32px;
    width: 128px;
    filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
    transition: 0.3s;

    @media (min-width: $tablet-width) {
      margin: 0;
      filter: none;
    }
  }

  &__line {
    width: calc(100% - 40px);
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 97px;

    @media (min-width: $tablet-width) {
      justify-content: center;
      padding: 0;
    }
  }

  &__icons-vk {
    @include logo-footer;

    width: 23px;
    height: 16px;
    fill: #666;
    transition: 0.3s;

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;
      margin-right: 27px;
      fill: #666;
    }
  }

  &__icons-inst {
    @include logo-footer;

    width: 16px;
    fill: #666;
    transition: 0.3s;

    @media (min-width: $tablet-width) {
      width: 23px;
      margin-right: 21px;
      fill: #666;
    }
  }

  &__icons-fb {
    @include logo-footer;

    width: 22px;
    stroke: #666;
    transition: 0.3s;

    @media (min-width: $tablet-width) {
      width: 28px;
      height: 33px;
      stroke: #666;
    }

    &:hover {
      stroke: #68b738;
      fill: none;
    }
  }

  &__academy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px;
    width: 100%;

    @media (min-width: $tablet-width) {
      justify-content: center;
      padding: 0;
      width: 25%;
    }
  }

  &__academy-name {
    @include logo-footer;

    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #444;
    transition: 0.3s;

    @media (min-width: $tablet-width) {
      padding-right: 22px;
    }

    &:hover {
      color: #444;
    }
  }

  &__academy-logo {
    @include logo-footer;

    width: 27px;
    height: 34px;
    fill: #666;
    transition: 0.3s;
  }
}
