@import "../shared/variables";
@import "../shared/mixins/button";

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;

  &__wrapper {
    position: relative;
    width: 100%;
    padding: 27px 35px 167px;
    background-image: url("../img/background-cat.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #68b738;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      padding-left: 117px;
      background-image: none;
      background-color: #fff;
    }

    @media (min-width: $desktop-width) {
      padding-left: 190px;
      background-color: transparent;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;

    @media (min-width: $tablet-width) {
      text-align: start;
      font-size: 60px;
      line-height: 60px;
      color: #000;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    @media (min-width: $tablet-width) {
      margin: 0;
      font-size: 20px;
      line-height: 20px;
      color: #000;
    }
  }

  &__pic {
    &-mobile {
      display: block;
      position: absolute;
      top: 197px;
      left: calc(50% - 140px);

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &-tablet {
      display: none;
      position: absolute;
      width: 709px;
      top: 263px;
      left: calc(50% - 355px);

      @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
        display: block;
      }
    }

    &-desktop {
      display: none;
      position: absolute;
      width: 552px;
      left: 500px;
      top: -34px;

      @media (min-width: $desktop-width) {
        display: block;
      }
    }

    &-background {
      display: none;
      position: absolute;
      z-index: -10;
      width: 50vw;
      right: 0;
      top: 0;

      @media (min-width: $desktop-width) {
        display: block;
      }
    }
  }

  &__button {
    @include button;

    margin-top: 135px;
    max-width: 280px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    @media (min-width: $tablet-width) {
      align-self: flex-start;
      z-index: 10;
      width: 244px;
      margin-top: 49px;
      margin-left: 117px;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      margin-left: 188px;
    }
  }
}
